div(data-role='page')
  div(data-role='header', data-position='fixed')
    b Activity Feed
  div(data-role='content')
    div#feedlist
    b CONNECTED DEVICES
    div#devices
  div#folder_action(data-role='footer', data-position='fixed', data-type='horizontal')
    input#data
    input#datasend(type="button",value="send")

script(type='text/javascript')
  var user = prompt("Please enter user name:");
  var socket = io.connect('/?user='+user);

  // on connection to server, ask for user's name with an anonymous callback
  socket.on('connect', function(){
    // call the server-side function 'adddevice' and send one parameter (value of prompt)
    socket.emit('adddevice', user);
  });

  // listener, fills in initial feed
  socket.on('initialfeed', function (feedlist) {
    console.log('feedlist:'+feedlist);
    for (var i=0;i<feedlist.length;i++) {
      $('#feedlist').append(feedlist[i]+'<br/>');
    }
  });

  // listener, updates the feed list
  socket.on('updatefeed', function (feed) {
    $('#feedlist').append(feed + '<br/>');
  });

  // listener, updates the device list
  socket.on('updatedevices', function(data) {
    $('#devices').empty();
    $.each(data, function(key, value) {
      $('#devices').append('<div>' + key + '</div>');
    });
  });

  // on load of page
  $(function(){
    // when the client clicks SEND for simulated folder action
    $('#datasend').click( function() {
      var message = $('#data').val();
      $('#data').val('');
      // tell server to execute 'sendfolderaction' and send along one parameter
      socket.emit('sendfolderaction', message);
    });

    // when the client hits ENTER on their keyboard
    $('#data').keypress(function(e) {
      if(e.which == 13) {
        $(this).blur();
        $('#datasend').focus().click();
      }
    });
  });