
!!!
html
  head
    title= title
    meta(name="viewport",content="width=device-width,initial-scale=1")
    // 
      link(rel='stylesheet', href='/stylesheets/style.css')
      meta(name="viewport",content="width=device-width,minimum-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet",href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css")
    script(src="http://code.jquery.com/jquery-1.6.4.min.js")
    script(src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js")
    script(src='/socket.io/socket.io.js')
  body!= body
